<configuration debug="true">
    <appender name="journalSift" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="com.idvp.platform.journal.configuration.discriminator.MDCTenantJournalDiscriminator"/>
        <sift>
            <appender name="journalFile-${tenantId}" class="ch.qos.logback.core.FileAppender">
                <file>${JOURNAL_DIRECTORY_PATH}\${tenantId}\${JOURNAL_FILE}</file>
                <append>true</append>
                <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
            </appender>
        </sift>
    </appender>


    <logger name="journalLogger">
        <appender-ref ref="journalSift"/>
    </logger>
</configuration>