<configuration debug="true">
    <logger name="journalLogger">
        <appender name="journalFile" class="ch.qos.logback.core.FileAppender">
            <file>${JOURNAL_FILE_PATH}</file>
            <append>true</append>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>
    </logger>
</configuration>