<configuration debug="true">
    <logger name="journalLogger">
        <appender name="journalFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${JOURNAL_FILE_PATH}</file>
            <append>true</append>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover -->
                <fileNamePattern>${JOURNAL_DIRECTORY_PATH}\archive\%d{yyyy-MM-dd_HH_mm}.%i.journal</fileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>1KB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
        </appender>
    </logger>
</configuration>